<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <center>
        <h5> User Detail Form</h5>
        <!-- <form method="post" action="{% url 'myabout' %}"> -->
        <!-- <form method="post" action="{% url 'myinsert' %}">-->
        <!-- <form method="post" action="{% url 'mylogin' %}"> -->
        <form method="post" action="{% url 'mysalary' %}">
            {% csrf_token %}
            <input type="text" placeholder="Enter Name" name="a1" required>
            <input type="email" placeholder="Enter Email" name="a2" required>
            <input type="number" placeholder="Enter Mobile Number" name="a3" required>
            <input type="submit" value="Submit">
        </form>
    </center>
</body>

</html>